
@{
    Layout = null;



}

<!DOCTYPE html>

<html lang="en">
<title>Trip Hunt</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

    @Html.Partial("_HeaderNavBarCustomer");

    <!-- Page content -->
    <div class="w3-content w3-padding-large w3-margin-top" id="portfolio">


        <!-- Contact -->
        <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">
            <h3 class="w3-center">About Us</h3>
            <hr>
            <p>
                There are so many travel agencies, websites and apps to help people out with travel needs and to provide vacation package deals.
                But a client finds it an exceptionally challenging task to search for the greatest package as per his/her requirements due to several reasons.
                Some of the difficulties is that customers have to browse numerous websites, contact various travel agencies and end up losing so much money.
            </p>
            <p>
                To solve this issue, we developed a website which provides the customer with the best travelling experience from booking tickets to everything.
                Trip Hunt proposes the finest package amongst all the other packages that are on the network. This project will help out vacationers to suggest the best travel package among all the package deals on the web.
            </p>
            <p>
                The main aims of this website are to provide secure document processing and payment, easy cancellation and elimination of agents.
                In addition, it is a user friendly and user-experience oriented system which can be used in different platforms due the responsive feature implementation.

            </p>

        </div>


        <!-- End page content -->
    </div>

</body>

</html>

